@{
    Page.Title = @Resources.Resource.FoodsIngredients;
    var ControlsStyle = "font: bold 14px arial";
    var ButtonWidth = "150px";
}
<main aria-labelledby="title" class="d-flex flex-column align-items-center min-vh-100">
    <h2>@Resources.Resource.FoodsIngredients</h2>
    <div class="d-flex justify-content-between align-items-center w-100">
        <form class="flex-grow-1 mx-3 w-100">
            <select id="ingredient-list" class="form-control mb-2" style="@ControlsStyle; min-width: 100%"></select>
            <center>
                <button id="add-to-list" type="button" class="btn btn-outline-secondary mx-2 mb-3" style="min-width: @ButtonWidth">@Resources.Resource.FoodToList</button>
            </center>
            <ul id="selected-ingredient-list" class="list-group mb-2" style="@ControlsStyle; min-width: 100%"></ul>
            <center>
                <h3 id="foods-caption" style="display: none">@Resources.Resource.FoodList</h3>
            </center>
            <ul id="food-list" style="display: none @ControlsStyle; min-width: 100%" class="list-group mb-2"></ul>
            <center>
                <button id="send-email-ingredients" type="button" class="btn btn-outline-secondary mx-2" style="display: none; min-width: @ButtonWidth">@Resources.Resource.SendEmail</button>
            </center>
        </form>
    </div>
    @Html.Partial("~/Views/Shared/_SendEmail.cshtml")
</main>

@section Scripts
{
    <script>
        var properties = {
            foods: @Html.Raw(Json.Encode(ViewBag.FoodsList)),
            ingredients: @Html.Raw(Json.Encode(ViewBag.IngredientsList)),
            foodIngredients: @Html.Raw(Json.Encode(ViewBag.FoodIngredientsList)),
            alreadyInList: '@Html.Raw(@Resources.Resource.AlreadyInList)',
            myTable: '@Html.Raw(@ViewBag.MyTableList)'
        };
    </script>
    <script src="~/Scripts/FoodsIngredients.js"></script>
}
