@{
    ViewBag.Title = @Resources.Resource.HealthyFoodsTitle;
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">@Resources.Resource.HealthyFoodCaption</h1>
        <p class="lead">@Resources.Resource.HealthyFoodsSubCaption</p>
        <p>@Html.ActionLink(Resources.Resource.LearnMore, "LearnMore", "Home", new { area = "" }, new { @class = "btn btn-primary btn-md" })</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">@Resources.Resource.PrepareFoods</h2>
            <p>
                @Resources.Resource.PrepareFoodsDescription
            </p>
    <p>@Html.ActionLink(Resources.Resource.PrepareFoods, "PrepareFoods", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
</section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">@Resources.Resource.CheckInformation</h2>
            <p>
                @Resources.Resource.CheckInformationCaption
            </p>
            <p>@Html.ActionLink(Resources.Resource.FoodsIngredients, "FoodsIngredients", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">@Resources.Resource.RelatedLinks</h2>
            <p>
                @Resources.Resource.RelatedLinksContent
            </p>
        </section>
    </div>
</main>