@{
    ViewBag.Title = @Resources.Resource.PrepareFoods;
    var ButtonHeight = "250px";
    var PreparHeight = "200px";
    var ControlsStyle = "font: bold 14px arial";
    var ButtonWidth = "150px";
    var MaxRecTime = 10; // seconds
}

<main aria-labelledby="title" class="d-flex flex-column align-items-center min-vh-100">
    <h2>@Resources.Resource.PrepareFoods</h2>
    <div class="d-flex justify-content-between align-items-center w-100">
        <form method="get" action="@Url.Action("PrepareFoods", "Home")">
            <input type="hidden" name="foodIndex" min="0" value="@ViewBag.previousFoodIndex" />
            <button type="submit" class="btn btn-outline-secondary" style="min-height: @ButtonHeight">&lt;&lt;</button>
        </form>
        <form class="flex-grow-1 mx-3 w-100">
            <input type="text" value="@Model.CurrentFoodType" readonly class="form-control mb-2" style="@ControlsStyle; min-width: 100% " />
            <input type="text" value="@Model.CurrentPreparedFood" readonly class="form-control mb-2" style="@ControlsStyle; min-width: 100%" />
            <input type="text" value="@Model.CurrentPrepTime @Model.CurrentPrepUnit" readonly class="form-control mb-2" style="min-width: 100%" />
            <input type="text" value="@Model.CurrentEnrg @Model.CurrentEnrgUnit" readonly class="form-control mb-2" style="min-width: 100%" />
            <textarea name="CurrentPrep" rows="5" class="form-control mb-2 readonly" style="min-width: 100%; min-height: @PreparHeight">@Model.CurrentPrep</textarea>
            <textarea name="FoodNotes" rows="5" class="form-control mb-2 readonly" style="min-width: 100%; min-height: @PreparHeight" placeholder="@Resources.Resource.FoodNotes"></textarea>
            <center>
                <button id="recordVoice" type="button" class="btn btn-outline-secondary mx-2" style="min-width: @ButtonWidth">@Resources.Resource.RecordVoice</button>
                <button id="sendEmail" type="button" class="btn btn-outline-secondary mx-2" style="min-width: @ButtonWidth">@Resources.Resource.SendEmail</button>
            </center>
        </form>
        <form method="get" action="@Url.Action("PrepareFoods", "Home")">
            <input type="hidden" name="foodIndex" min="0" value="@ViewBag.nextFoodIndex" />
            <button type="submit" class="btn btn-outline-secondary" style="min-height: @ButtonHeight">&gt;&gt;</button>
        </form>
    </div>
</main>

@section Scripts
{
    <script>
        var properties = {
            maxRecTime: @MaxRecTime,
            recordVoice: "@Html.Raw(@Resources.Resource.RecordVoice)",
            stopRecording: "@Html.Raw(@Resources.Resource.StopRecording)",
            informUser: "@Html.Raw(Resources.Resource.RecWillStart) @Html.Raw(Resources.Resource.MaximumRecording) @MaxRecTime @Resources.Resource.Seconds.",
            microphoneError: "@Html.Raw(@Html.Raw(Resources.Resource.MicrophoneError)):"
        };
    </script>
    <script src="~/Scripts/PrepareFoods.js"></script>
}

